{% load static %}
<html>
    <head>
        <title>Django Girls blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div style="border:1px solid black;padding:1em;">
            <a href="{% url 'customer_new' %}" class="top-menu">Add customer</span></a>
            <a href="{% url 'car_new' %}" class="top-menu">Add car</span></a>
        </div>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
              
        {% block content %}
        {% endblock %}

    </body>
</html>